<router-outlet></router-outlet>

<section>
  <h1>OAuth2 test</h1>
  <div>
    <h2>Log in</h2>
    <button (click)="logInUsingKeycloak()">Log in using Keycloak</button>
  </div>
  <div>
    <h2>User info - service direct call</h2>
    <button (click)="fetchUserInfoViaDirectCall()">Fetch user info</button>
    <p>User data: {{userInfoDirectCall | json}}</p>
  </div>
  <div>
    <h2>User info - API gateway</h2>
    <button (click)="fetchUserInfoViaApiGateway()">Fetch user info</button>
    <p>User data: {{userInfoApiGateway | json}}</p>
  </div>
</section>
